<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h3>Add Friend</h3>

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label class="form-label">Name</label>
                    <input type="text" placeholder="name" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Friend's Name</label>
                    <input type="text" placeholder="friend name" class="form-control" name="friendName" [(ngModel)]="friendName">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Friend's Nick Name</label>
                    <input type="text" placeholder="friend nick name" class="form-control" name="friendNickName" [(ngModel)]="friendNickName">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label class="form-label">Describe your friend</label>
                    <textarea name="DescribeYourFriend" id="" cols="30" rows="10" class="form-control" [(ngModel)]="DescribeYourFriend"></textarea>
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValues()">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
